.CodeMirror {
    font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    height: 100% !important;
    background: #F9F9F5;
}

.CodeMirror-vscrollbar {
    width: 5px;
}

.CodeMirror-hscrollbar {
    height: 5px;
}

/*editor*/

/*.CodeMirror .cm-header-1 {
    font-size: 2em;
}

.CodeMirror .cm-header-2,
.CodeMirror .cm-header-3 {
    font-size: 22px;
}

.CodeMirror .cm-header-4,
.CodeMirror .cm-header-5 {
    font-size: 18px;
}*/