#preview {
    width: 49%;
    height: 100%;
    position: fixed;
    left: 50%;
    padding-left: 1%;
    background-color: #fff;
    overflow: auto;
}

#preview::-webkit-scrollbar {
    width: 8px;
    background-color: #eee;
}

#preview::-webkit-scrollbar-thumb {
    background: #ccc;
    box-sizing: border-box;
    border: 1px solid #bbb;
    border-radius: 2px;
}
