#preview {
    width: 49%;
    height: 100%;
    position: fixed;
    left: 50%;
    padding-left: 1%;
    background-color: #fff;
    overflow: auto;
}

#preview::-webkit-scrollbar {
    width: 8px;
    background-color: #eee;
}

#preview::-webkit-scrollbar-thumb {
    background: #ccc;
    box-sizing: border-box;
    border: 1px solid #bbb;
    border-radius: 2px;
}

#preview *::selection {
    background: #42b983;
    color: #ffffff;
}


#preview table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}

#preview table tr th {
    font-weight: bold;
    padding: 6px 13px;
    border: 1px solid #ddd;
}

#preview table tr td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

#preview img {
    max-width: 100%;
}

#preview h2,
#preview h3,
#preview h4,
#preview h5,
#preview h6 {
    position: relative;
    margin: 1em 1em
}

#preview h2:before,
#preview h3:before,
#preview h4:before,
#preview h5:before,
#preview h6:before {
    content: "#";
    color: #42b983;
    position: absolute;
    left: -0.8em;
    top: -4px;
    font-size: 1.2em;
    font-weight: bold
}

#preview h4:before,
#preview h5:before,
#preview h6:before {
    content: ""
}

#preview h2,
#preview h3 {
    font-size: 22px
}

#preview h4,
#preview h5,
#preview h6 {
    font-size: 18px
}

#preview a {
    color: #42b983;
    word-break: break-all
}

#preview blockquote {
    margin: 2em 0;
    padding-left: 20px;
    border-left: 4px solid #42b983
}

#preview img {
    display: block;
    max-width: 100%;
    margin: 1em auto
}

#preview>table,
#preview>figure.highlight {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125)
}

#preview .tip {
    position: relative;
    margin: 2em 0;
    padding: 12px 24px 12px 30px;
    border-left: 4px solid #f66;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #f8f8f8
}

#preview .tip br {
    display: none
}

#preview .tip:before {
    position: absolute;
    top: 14px;
    left: -12px;
    content: "!";
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #f66;
    font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
}